body {
  font-family: 'Montserrat', sans-serif;
}

.hero {
  height: 100vh;
  background-image: url("images/imagem-principal.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;

  transform: scale(1.1);
  opacity: 0;
  transition: all 1.5s ease;
}

.hero.hero-animada{
  transform: scale(1);
  opacity: 1;
}

.overlay {
  padding: 50px;
  border-radius: 20px;
  text-align: center;
  color: white;

  transform: translateY(40px);
  opacity: 0;
  transition: all 1.2s ease 0.5s;
}

.overlay.overlay-animada{
  transform: translateY(0);
  opacity: 1;
}

.overlay p {
  font-size: 25px;
  font-weight: 400;
}

.overlay h1 {
  font-size: 55px;
  font-weight: 600;
}

.retrospectiva {
  padding: 60px;
  opacity: 0;
  transform: translateY(40px);
  transition: all 1s ease;
}

.retrospectiva.aparecer{
  opacity: 1;
  transform: translateY(0);
}

.mes {
  text-align: center;
  font-size: 32px;
  margin-bottom: 30px;
  color: #8B3A3A;
}

.conteudo {
  width: 100%;
  display: flex;
  gap: 40px;
  align-items: center;
}

.carrossel {
  width: 60%;
  background-color: #fff;
  padding: 20px;
  border-radius: 20px;
}

.rodape {
  padding: 80px 20px 40px;
  text-align: center;
  background-color: #FFF5E4;
  opacity: 0;
  transform: translateY(40px);
  transition: all 1s ease;
}

.rodape.aparecer {
  opacity: 1;
  transform: translateY(0);
}

.frase-final {
  font-size: 26px;
  color: #8B3A3A;
  font-weight: 500;
  margin-bottom: 15px;
}

.assinatura {
  font-size: 16px;
  color: #8B3A3A;
  opacity: 0.7;
}

.imagemPrincipal {
  width: 100%;
  aspect-ratio: 1 / 1;
  padding-bottom: 9px;

  touch-action: pan-y;
  cursor: grab;

  transition: all 0.4s ease;
}

.imagemPrincipal:active{
  cursor: grabbing;
}

.imagens {
  display: flex;
  gap: 10px;
}

.imagemCarrossel {
  width: 60px;
  height: 60px;
  cursor: pointer;
}

img{
  border-radius: 10px;
  object-fit: cover;
}

.texto-retro {
  width: 35%;
  max-width: 350px;
  font-size: 20px;
  color: #8B3A3A;
  line-height: 1.5;

  transition: all 0.4s ease;
}

.bege {
  background-color: #EECBB0;
}

.branca {
  background-color: #F7F0EB;
}

@media (max-width: 768px) {

  .retrospectiva {
    padding: 30px 15px;
  }

  .conteudo {
    gap: 20px;
  }

  .carrossel {
    width: 70%;
  }

  .texto-retro {
    width: 30%;
    font-size: 18px;
  }

  .imagemCarrossel {
    width: 50px;
    height: 50px;
  }
}

.frase-final {
    font-size: 20px;
  }

  .assinatura {
    font-size: 14px;
  }
